<%- include("partials/header") -%>

<div class="container content">
  <%posts.forEach(function(post){%>
  <div class="post">
    <h3><%= post.pTitle %></h3>
    <p>
      <%= (post.pContent).substring(0,70) + " ..." %>
      <a href="/posts/<%= post._id %>">Read More</a>
    </p>
  </div>
  <%})%>
</div>
