* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1b262c;
  color: #eeeeee;
  text-align: center;
}

.footer-text {
  padding: 1%;
  margin: 0 auto;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link {
  margin: 0 15px;
}
